
@font-face {
    font-family: JosefinSans;
    src: url(../font/Josefin_Sans/static/JosefinSans-SemiBold.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../font/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: Roboto1;
    src: url(../font/Roboto/Roboto-Light.ttf);
}


